body {
	margin: 0;
	padding: 0;
}

p.main {
	border-bottom: solid 3px;
	width: 100%;
	background-color: #90ee90;
	height: 50px;
	margin: 0;
}

label.test1 {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 30px;
}

p#currentDate {
	font-size: 50px;
	float: left;
	height: 100px;
	margin-left: 130px;
	margin-top: 2%;
}

p#RealtimeClockArea {
	font-size: 50px;
	float: left;
	clear: both;
	margin-left: 120px;
	margin-top:5%;
}

div.form1 {
    text-align: right;
    margin-right: 5%; 
    margin-top: 2%;
	font-size: 30px;
}
select {
  width: 200px; 
  font-size: 30px;
}

div#button-list {
	display: flex;
	flex-wrap: wrap;
}


div.btn1 {
	display: flex;
	margin: 5% 1%;
}

div.btn2 {
	display: flex;
	margin: 2% 1%;
}

button.but1, 
button.but2,
button.but3,
button.but4 {
	margin-right: 220px;
	margin-left: 30px;
	width: 320px;
	height: 200px;
	border: none;
	border-radius: 10px;
	background-color: #98fb98;
	font-size: 80px;
	color: white;
}

@media (max-width: 768px) {
	div.btn1,
	div.btn2 {
	flex-basis: 100%;
	margin: 2% 1%;
}

p#currentDate,
p#RealtimeClockArea {
	margin-left: 5%;
}	


button.but1,
button.but2,
button.but3,
button.but4 {
	width: 100%;
	margin-bottom: 2%;
}
