<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/app.css}">
<title>申請フォーム</title>
</head>
<body>
	<div class="container">
		<p class="main">
			<label class="screenname">申請</label> <a th:href="@{/login}">ログアウト</a>
		</p>
		<h1>申請フォーム</h1>
		<form class="form-container" th:action="@{/application/save}"
			method="post">
			<!-- 休暇名の選択肢 -->
			<label for="holidayName">休暇名：</label> <select id="holidayName"
				name="holidayName">
				<option value="有給休暇">有給休暇</option>
				<option value="特別休暇">特別休暇</option>
				<option value="夏季休暇">夏季休暇</option>
				<option value="慶弔休暇">慶弔休暇</option>
				<option value="年末年始休暇">年末年始休暇</option>
				<option value="代休">代休</option>
				<option value="振替">振替</option>
				<option value="半休">半休</option>
			</select>
			<!-- 休暇開始日の選択肢 -->
			<label for="startDate">休暇開始日：</label> <select name="startDate">
				<option th:each="date : ${holidayDates}" th:value="${date}"
					th:text="${date}"></option>
			</select>

			<!-- 休暇終了日の選択肢 -->
			<label for="endDate">休暇終了日：</label> <select name="endDate">
				<option th:each="date : ${holidayDates}" th:value="${date}"
					th:text="${date}"></option>
			</select>
			<button type="submit">申請</button>
		</form>
		<h2>申請一覧</h2>
		<table border="1">
			<tr>
				<th class="green-bg">No</th>
				<th class="green-bg">休暇開始日</th>
				<th class="green-bg">休暇終了日</th>
				<th class="green-bg">休暇名</th>
				<th class="green-bg">承認結果</th>
			</tr>
			<tbody>
				<!-- リスト内のすべてのEmployeeHolidayオブジェクトを反復処理 -->
				<tr th:each="employeeHoliday : ${holidays}">
					<!-- EmployeeHolidayテーブルの休暇ID、休暇開始日、休暇終了日、休暇名を表示 -->
					<td th:text="${employeeHoliday.holiday.holidayId}"></td>
					<td
						th:text="${#dates.format(employeeHoliday.holiday.holidayStart, 'yyyy/MM/dd')}"></td>
					<td
						th:text="${#dates.format(employeeHoliday.holiday.holidayEnd, 'yyyy/MM/dd')}"></td>
					<td th:text="${employeeHoliday.holiday.holidayName}"></td>
					<!-- Holidayテーブルのapproval.decisionNameを表示 -->
					<td
						th:class="'decision-' + ${employeeHoliday.holiday.approval.decisionName}">
						<span th:text="${employeeHoliday.holiday.approval.decisionName}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>