<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/edit.css}">
<title>就業状況確認画面</title>
</head>
<body>
	<p class="main">
		<label class="test1">就業状況</label>
	</p>
	<div th:each="date : ${currentDateRange}">
		<p th:text="${#dates.format(date, 'yyyy/MM/dd(E)')}"></p>
	</div>
	<form action="/edit" method="get">
		<label for="selectedPeriod">期間選択:</label> <select
			name="selectedPeriod" id="selectedPeriod"
			th:onchange="'this.form.submit()'">
			<option value="">期間を選択してください</option>
			<option th:each="option : ${periodOptions}" th:value="${option}"
				th:text="${option}" th:selected="${option == selectedPeriod}"></option>
		</select> <input type="submit" value="表示">
	</form>
	<p th:text="${dutyList[0].employee.userName}"></p>
	<p>
		総労働日数:<span th:text="${totalWorkingDays}"></span>
	</p>
	<p>
		総休憩時間:<span th:text="${totalBreakTime}"></span>
	</p>
	<form th:action="@{/edit/update}" method="post"
		onsubmit="return submitForm()">
		<input type="submit" value="編集" />
	</form>
	<table>
		<thead>
			<tr>
				<th>日付</th>
				<th>出勤時刻</th>
				<th>退勤時刻</th>
				<th>休憩時間</th>
				<th>残業時間</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="entry : ${dutyMap}">
				<td th:text="${#dates.format(entry.key, 'yyyy/M/d')}"></td>
				<td th:text="${entry.value != null ? entry.value.startTime : ''}"></td>
				<td th:text="${entry.value != null ? entry.value.endTime : ''}"></td>
				<td th:text="${entry.value != null ? entry.value.breakTime : ''}"></td>
				<td th:text="${entry.value != null ? entry.value.overTime : ''}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>