<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ログイン画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="center">
		<p class="main">
			<label>ログイン</label>
		</p>
		<div id="main">
			<p class="error" th:text="${errMessage}"></p>
			<form th:action="@{/login}" method="post" th:object="${loginForm}">
				<div class="input-group">
					<div class="input-row">
						<label>社員ID</label> <input type="text" class="userid"
							th:field="*{userId}">
					</div>
					<div class="input-row">
						<label>パスワード</label> <input type="password" class="pass"
							th:field="*{password}">
					</div>
					<div>
						<input type="submit" class="set2" value="送信">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>