<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/update.css}">
<title>編集画面</title>
</head>
<body>
	<p class="main"><label class="test1">編集</label></p>
	<table>
	  	<tr>
	  		<th>日付</th>
		    <th>勤務状況</th>
		    <th>出勤時刻</th>
		    <th>退勤時刻</th>
		    <th>休憩時間</th>
	  	</tr>
	  	<form th:action="@{/edit/update}" method="post" th:object="${updateForm}">
		  	<tr th:each="form : ${formList}">
			    <td th:text="${#dates.format(duty.workDate, 'yyyy/MM/dd(E)')}"></td>
			    <td><span th:if="${form.startTime != null}">勤務</span></td>
			    <td>
			    	<input type="text" th:name="'startTime'" th:value="${form.startTime}" />
			    </td>
			    <td>
			    	<input type="text" th:name="'endTime'" th:value="${form.endTime}" />
			    </td>
			    <td>
			    	<input type="text" th:name="'breakTime'" th:value="${form.breakTime}" />
			    </td>
		  	</tr>
		  	<tr>
		  		<td colspan="4">
		  			<button type="submit">更新</button>
		  		</td>
		  	</tr>
		</form>
	</table>
</body>
</html>
	</table>
</body>
</html>